header.header {
  background: black;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid white;
  padding-left: 0.5rem;

  svg {
    position: relative;
    bottom: -15px;
  }

  .header-brand .column h1 {
    @extend .f-headline;
    @extend .f-6;
    @extend .white;
    @extend .measure;
    @extend .tc;
  }
}

#section-candidates {
  @media screen and (max-width: 30em) {
    table {
      max-width: 95% !important;
    }
  }
}

#section-dream-killers {
  .columns {
    @extend .mv6;
  }
}

#section-amendments {
  .columns {
    margin-bottom: $spacing-extra-extra-large;
  }

  .title-wrapper {
    h2 {
      color: white;
      background: $black;

      @extend .pa4;
    }
  }
}

#section-freedom-papers {
  background: $black;

  .display {
    color: $white;
  }

  ul {
    @extend .ml4;
    @extend .mt4;
    @extend .dib;
    @extend .pt3;
  }
}
