html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: bottom;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
}

.sticky {
  position: sticky;
  top: 0;
}

.interlude {
  width: 100%;
  background-repeat: repeat-x;
  background-position: 80% 100%;
  background-attachment: fixed;
}

.bordered {
  border: none;

  @media screen and (min-width: 60em) {
    border-bottom: ($spacing-medium/4);
    border-top: none;
    border-style: solid;
    border-color: $black;
  }
}

.bg__screen {
  background: rgba(252, 255, 252, 0.4);
}

.brand {
  font-size: 5rem;

  @media screen and (min-width: $bm) and (max-width: $bl) {
    font-size: 6rem !important;
  }

  @media screen and (min-width: $bl) {
    font-size: 10rem !important;
  }
}

section.section {
  @extend .pv6;

  .subtitle {
    display: inline;
  }
}

#section-prepare {
  background: $yellow;
}
