@font-face {
  font-family: 'Rama Gothic C';
  src: url('../fonts/rama-gothic-heavy.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Peace Sans';
  src: url('../fonts/peace-sans.otf');
  font-weight: 900;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700');
